@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "../../../backend/templates";
@source "./safelist.txt";

@import "../styles/style.css";

@import "../styles/base/text.css";
