@theme {
  --color-primary: #141516;
  --color-light-grey: #f5f5f5;
  --color-light-white: #FEFFFF;
  --color-dark-grey: #ccc;
  --color-grey: #A3A3A3;
  --color-red: #E62B25;
  --color-white-2: #FFFFFA;
  --spacing: 0.0625rem;
}