html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {line-height: 1;}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 100em) {
  html {
    font-size: clamp(16px, 1vw, 30px);
  }
}