.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 1.5rem;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}