@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}