:root, ::before, ::after {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd,
ol, ul,
form, fieldset,
legend,
figure,
table, th, td,
caption,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}